{% extends 'form.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static',filename='css/dashboard.css' )}}">

<style>
.chart-container {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 80vw;
}
</style>
		
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link cl cl-ori active" href="#">
                            <span data-feather="home"></span>
                            Dashboard
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cl cl-fft" href="#">
                            <span data-feather="file"></span>
                            FFT
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cl cl-ord" href="#">
                            <span data-feather="file"></span>
                            Orders
                        </a>
                    </li>
                   
                    <li class="nav-item">
                        <a class="nav-link cl cl-report" href="#">
                            <span data-feather="bar-chart-2"></span>
                            Reports
                        </a>
                    </li>
                   
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Saved reports</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link cl cl-month cl-save" href="#">
                            <span data-feather="file-text"></span>
                            Current month
                        </a>
                    </li>
                    
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <button class="btn btn-sm btn-outline-secondary cl-fft">FFT</button>
                        <button class="btn btn-sm btn-outline-secondary cl-save">Export</button>
                    </div>
                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                        <span data-feather="calendar"></span>
                        This month
                    </button>
                </div>
            </div>
           
            <div id="myDiv" ></div>
            
            <div class="chart-container">
                <progress id="progress_data" max="1" value="0" style="width: 100%"></progress>
                <canvas id="canvas_data"></canvas>
                
            </div>
            
            
             {% block footer %}{{super()}} {% endblock %}
        </main>
    </div>
     
</div>
{% endblock %}



{% block scripts %}
{{ super() }}
<script src="{{ url_for( 'static',filename='js/feather.min.js' )}}"></script>
<script src="{{ url_for( 'static',filename='js/Chart.min.js' )}}"></script>
<script src="{{ url_for( 'static',filename='js/data.js' )}}"></script>
<script>
    feather.replace()
</script>
<script type="x/kendo-template" id="page-template">
        <div class="page-template">

        </div>
</script>
<script>
    
    var data_init = function () {
            $.post("{{ url_for('data.index') }}", {

            }).done(function (response) {
                x = response['x'];
                t = response['t'];
                y1 = response['y1'];
                y2 = response['y2'];

                chart_data['labels'] = x;
                dash_init();
            }).fail(function () {

            });
        }
    data_init();
    $(function () {
        
        $('.cl-ori').click(
            function () {
                set_act($(this));
                $('#myDiv').hide();
                $('#canvas_data').show();
                
                dash_init();
            }
        );
        $('.cl-fft').click(
            function () {

                set_act($(this));
                $('#myDiv').hide();
                $('#canvas_data').show();
                var postx = JSON.stringify(x);
                var posty = JSON.stringify([y1,y2]);
                $.post("{{ url_for('data.fft') }}", {
                    "x": postx,
                    "y": posty,
                }, dataType='json').done(function (response) {
                    var x_t = response['x'];
                    var y_t = response['y'];
                        y1f = y_t[0];
                        y2f = y_t[1];
                    var data1 = {
                        label: 'Speed Signal FFT Result',
                        fill: true,
                        borderColor: chartColors[0],
                        backgroundColor: chartColors[0],
                        data: y_t[0],
                        yAxisID: 'speed-axis',
                    };
                    var data2 = {
                        label: 'Vibration Signal FFT Result',
                        fill: true,
                        borderColor: chartColors[1],
                        backgroundColor: chartColors[1],
                        data: y_t[1],
                        yAxisID: 'vibration-axis',
                    };
                    if (trigger_b) {
                        chart_data['datasets'] = [data1, data2];
                        Chart.Line('canvas_data', {
                            options: options,
                            data: chart_data
                        }
                        );
                    };
                    if(trigger_b){
                        chart_data['datasets'] = [data1,data2];
                        if (!options.hasOwnProperty('animation'))
                            options['animation'] = animation;
                            Chart.Line('canvas_data', {
                                options: options,
                                data: chart_data
                            }
                            );
                    }
                    
                }).fail(function () {

                });
            }
        );
        $('.cl-ord').click(
            function () {
                set_act($(this));
                $('#canvas_data').hide();
                $('#myDiv').show();
                var d3 = Plotly.d3;


                var gd3 = d3.select('#myDiv');
                var gd = gd3.node();
                var OrderTrack_01 = {
                    x: y1f,
                    y: x,
                    z: y2f,
                    
                    mode: 'lines',
                    marker: {
                        color: '#1f77b4',
                        size: 11,
                        symbol: 'circle',
                        line: {
                            color: 'rgb(0,0,0)',
                            width: 3
                        }
                    },
                    line: {
                        color: '#1f77b4',
                        width: 3
                    },
                    type: 'scatter3d'
                };
                var layout = {
                    title: 'Order Tracking Result',
                    height:1080,
                    auto:true,
                    showlegend: true,
                    scene: {
                        aspectratio: {
                            x: 1,
                            y: 1,
                            z: 1
                        },
                        camera: {
                            center: {
                                x: 0, y: 0, z: 0
                            },
                            eye: {
                                x: 2, y: 0.4, z: 0.1
                            },
                            up: {
                                x: 0, y: 0, z: 1
                            }
                        },
                        xaxis: {
                            title: 'Revolution[RPM]',
                            showgrid: true,
                        },
                        yaxis: {
                            title: 'Frequency[HZ]',
                            showgrid: true,
                            showline: true
                        }
                        ,
                        zaxis: {
                            title: 'Gear Noise[DB]',
                            showgrid: false,
                            showline: true
                        },
                    },
                    margin: {
                        l: 100,
                        r: 50,
                        b: 65,
                        t: 90,
                    }
                };
                Plotly.plot(gd, [OrderTrack_01], layout);

                    
            }
        );
        $('.cl-report').click(
            function () {
                set_act($(this));
            }
        );
        
        $('.cl-month').click(
            function () {
                set_act($(this));
            }
        );
        
    });
</script>
<script defer src="{{ url_for( 'static',filename='js/kendo.all.min.js' )}}"></script>
<script defer src="{{ url_for( 'static',filename='js/plotly-latest.min.js' )}}"></script>
<script defer src="{{ url_for( 'static',filename='js/export.js' )}}"></script>
{% endblock %}

